.jumbotron.text-center
  %h1 Blackmore Demo
  = link_to 'Take a Tour', '#', class: 'btn btn-primary'
  = link_to 'About Me', '#', class: 'btn btn-primary'

= render 'layouts/front_end'

= render 'layouts/back_end'

= render 'layouts/main_carousel'

.row
  .col-md-12.well.text-center.contact-well
    %h3 Contact Me

.row
  .col-md-12.well.text-center.contact-well
    = link_to 'Click Here!', '#contact', class: 'btn btn-success', id: 'contact-btn', 'data-toggle': 'modal'

.modal.fade{id:'contact'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title Contact Form
      .modal-body
        %p Form to email myself
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{:type => "button"} Send Message


.row
  .col-md-6.well.text-center#pg-well
    %button.btn.btn-success{class: 'btn btn-success', id: 'pg-btn'} pgbtn


%br -# Fix spacing without use of <br>
